<section>
    <h2>Test Identity Server</h2>

    <button @onclick="GetAsync">Test</button>

    <p>@_disco</p>

    <p><span>Token:</span> <span>@_tokenValue</span></p>
    <p><span>API:</span> <span>@_apiResult</span></p>
</section>
