@page "/"

<div style="background-color:#FFCE0B;" class="d-flex justify-content-center min-vh-100">
    <article class="main d-flex flex-column m-auto">
        <nav class="header d-flex flex-row-reverse">
            <button title="edit" type="submit" class="header__button">
                <img height="24" width="24" title="edit" class="header__icon" src="_content/UI/edit-icon.svg" />
            </button>

            <button title="exit" type="submit" class="header__button">
                <img height="24" width="24" title="exit" class="header__icon" src="_content/UI/exit-icon.svg" />
            </button>
        </nav>

        <header class="profile d-flex justify-content-center align-items-center">
            <img title="background profile" class="profile-background" src="_content/UI/profile-background.svg" />

            <div class="inner-profile d-inline-flex flex-row">
                <img height="60" width="60" title="profile" class="inner-profile__photo" src="https://placehold.jp/000000/ffffff/60x60.png" />

                <div class="inner-profile-text">
                    <h1 class="inner-profile-text__name title">Pavel Sergeev</h1>
                    <p class="inner-profile-text__description">ASP.Net Developer</p>
                </div>
            </div>
        </header>

        <section class="socials">
            <h2 class="socials__title title">Contacts</h2>
            <ul class="socials-list">
                <li class="d-flex flex-row">
                    <a class="socials-list-link d-flex flex-row" href="mailto:2916675@gmail.com">
                        <i class="socials-list__icon fa-solid fa-envelope"></i>
                        <p class="socials-list__text title text">2916675@gmail.com</p>
                    </a>
                </li>
                <li class="d-flex flex-row">
                    <a class="socials-list-link d-flex flex-row" href="tel:+123456789">
                        <i class="socials-list__icon fa-solid fa-phone"></i>
                        <p class="socials-list__text title text">+123456789</p>
                    </a>
                </li>
                <li class="d-flex flex-row">
                    <a class="socials-list-link d-flex flex-row" href="https://github.com/Good1Cheese" target="_blank">
                        <i class="socials-list__icon fa-brands fa-github"></i>
                        <p class="socials-list__text title text">Good1Cheese</p>
                    </a>
                </li>
                <li class="d-flex flex-row">
                    <a class="socials-list-link d-flex flex-row" href="https://t.me/Good1Cheese" target="_blank">
                        <i class="socials-list__icon fa-brands fa-telegram"></i>
                        <p class="socials-list__text title text">Good1Cheese</p>
                    </a>
                </li>
                <li class="d-flex flex-row">
                    <a class="socials-list-link d-flex flex-row" href="https://vk.com/pashkevich31" target="_blank">
                        <i class="socials-list__icon fa-brands fa-vk"></i>
                        <p class="socials-list__text title text">pashkevich31</p>
                    </a>
                </li>
            </ul>
        </section>
    </article>
</div>
