@page
@model Identity.Pages.Login.Password.IndexModel

<h1 class="mb-3">Ура, мы на втором этапе</h1>

<form class="mb-3" method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="success"  data-ajax-failure="failed">
    <div class="form-floating mb-3">
        <input class="form-control" placeholder="@nameof(Model.Password)" asp-for="Password" autofocus />
        <label asp-for="Password"></label>
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <a class="btn btn-secondary">Назад</a>
        <button type="submit" class="btn btn-primary">Войти</button>
    </div>
</form>

<a asp-page-handler="OnPostValidatePasswordAsync">sdsd</a>

@section Scripts {
<script>
    const handlerLeftPart = window.location.pathname + '?handler=';

    success = () => {
        window.location = handlerLeftPart + 'Success';
    };

    failed = () => {
        window.location = handlerLeftPart + 'Failure';
    }
</script>

    @*<script>
        const inputId = '#@nameof(Model.Input)_@nameof(Model.Input.Username)';
        const buttonId = '#@Model.SubmitButtonId';

        $(function () {
            checkEmptyInput();

            $(inputId).on('input', function () {
                checkEmptyInput();
            });
        });

        function checkEmptyInput() {
            let value = $(inputId).val();

            $(buttonId).prop('disabled', isEmpty(value));
        }

        function isEmpty(str) {
            return !str.trim().length;
        }
    </script>*@
    }

