@page
@model Identity.Pages.Login.Password.IndexModel

<h1></h1>

<h1 class="mb-3">Ура, мы на втором этапе</h1>

<form class="mb-3" method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="success">
    <div class="form-floating mb-3">
        <input class="form-control" data-val-remote-additionalfields="__RequestVerificationToken"
               placeholder="@nameof(Model.Input.Password)" asp-for="Input.Password" autofocus />
        <label asp-for="Input.Password"></label>
        <span asp-validation-for="Input.Password"></span>
    </div>

    <div>
        <a class="btn btn-secondary">Назад</a>
        <button class="btn btn-primary">Войти</button>
    </div>
</form>

@section Scripts {
    <script>
        success = () => {
            window.location = '/Account/Login?handler=Success&query=' + window.location.search;
        }
    </script>

    @*<script>
        const inputId = '#@nameof(Model.Input)_@nameof(Model.Input.Username)';
        const buttonId = '#@Model.SubmitButtonId';

        $(function () {
            checkEmptyInput();

            $(inputId).on('input', function () {
                checkEmptyInput();
            });
        });

        function checkEmptyInput() {
            let value = $(inputId).val();

            $(buttonId).prop('disabled', isEmpty(value));
        }

        function isEmpty(str) {
            return !str.trim().length;
        }
    </script>*@
}

