.body {
    background-color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

main {
    background-color: #fff;
    border-radius: 16px;
    padding: 32px;
    width: 360px;
}

.logo {
    margin-bottom: 16px;
}
