@{
    Layout = "_Layout";
}

@section Head {
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
    @RenderSection("head", required: false)
}

<main>
    <img class="logo" src="/_content/UI/images/logo.png" height="64" width="64" alt="Логотип" asp-append-version="true" />

    @RenderBody()
</main>

@section Scripts {
    <partial name="_Validation" />

    <script>
        $.validator.setDefaults({
            onkeyup: false,
            onfocusout: false
        });
    </script>

    @RenderSection("scripts", false)
}
