@{
    Layout = "_LayoutBase";
}

@section Head {
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("head", required: false)
}

<main class="container-fluid">
    @RenderBody()
</main>

@section Scripts {
    @RenderSection("scripts", required: false)
}
