body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

.background {
    display: none;
}

main {
    background-color: #fff;
    padding: 32px;
    width: 100%;
}

@media only screen and (min-width: 451px) {
    main {
        width: 360px;
        border-radius: 16px;
    }
}

.logo {
    margin-bottom: 16px;
}
