@{
    Layout = "_LayoutBase"; 
}

@section Head {
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("head", required: false)
}

<div class="outer-wrapper container-fluid">
    <main class="wrapper">
        @RenderBody()
    </main>

    <footer class="footer">
        <nav>
            <ul class="navigation">
                <li class="navigation-item">
                    <a asp-host="https://localhost:5002">Политика конфиденциальности</a>
                </li>
                <li>
                    <a asp-host="https://localhost:5002">Контакты</a>
                </li>
            </ul>
        </nav> 
    </footer>
</div>

@section Scripts {
    <partial name="_Validation" />

    <script>
        $.validator.setDefaults({
            onkeyup: false,
            onfocusout: false
        });
    </script>

    @RenderSection("scripts", required: false)
}
