@{
    Layout = "_LayoutBase";
}

@section Head {
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("head", required: false)
}

<main class="container-fluid">
    @RenderBody()
</main>

@section Scripts {
    <partial name="_Validation" />

    <script>
        $.validator.setDefaults({
            onkeyup: false,
            onfocusout: false
        });
    </script>

    @RenderSection("scripts", required: false)
}
