@{
    Layout = "_Layout";
}

@section Head {
    <link rel="stylesheet" href="~/css/account.css" />
    @RenderSection("head", required: false)
}

<div class="body">
    <main>
        <img class="logo" src="/_content/UI/images/logo.png" height="64" width="64" alt="Логотип"/>

        @RenderBody()
    </main>
</div>

@section Scripts {
    <partial name="_Validation" />

    <script>
        $.validator.setDefaults({
            onkeyup: false,
            onfocusout: false
        });
    </script>

    @RenderSection("scripts", false)
}
