@{
    Layout = "_LayoutBase";
}

@section Head {
    <link rel="stylesheet" href="/_content/UI/lib/bootstrap-icons/font/bootstrap-icons.min.css">
    @RenderSection("head", required: false)
}

<main>
    @RenderBody()
</main>

@section Scripts {
    @RenderSection("scripts", required: false)
}
