@if (_providers.Any())
{
    <ul class="list-inline">
        @foreach (var provider in _providers)
        {
            <li class="list-inline-item">
                <a class="btn btn-secondary"
                href="/ExternalLogin/Challenge?scheme=@provider.AuthenticationScheme&returnUrl=@ReturnUrl">
                    @provider.DisplayName
                </a>
            </li>
        }
    </ul>
}
