@if (_providers.Any())
{
    <section class="external-providers">
        <h2 class="title">@Localizer["Sign in using"]</h2>

        <ul class="providers row list-inline">
            @foreach (var provider in _providers)
            {
                <li class="col-4 list-inline-item">
                    <a class="provider" href="@GetProviderLink(provider.AuthenticationScheme)">
                        <img src="@GetIconPath(provider.AuthenticationScheme)" width="20" height="20" alt="@provider.DisplayName" />
                    </a>
                </li>
            }
        </ul>
    </section>
}
