div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 16px;
}

p {
    margin: 0;
}

a {
    color: #333;
    border: .1rem solid #dcdcdc;
    border-radius: .6rem;
    padding: .7rem 1.2rem;
    display: flex;
    align-items: center;
    line-height: 1rem;
    text-decoration: none;
    outline: 0;
}

    a:hover, a:active, a:focus {
        color: #fff;
        background-color: #0057ff;
        border-color: #7fabff;
    }

    a:focus {
        box-shadow: 0 0 0 0.25rem #7fabff;
    }
